.m1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0em;
}
.s1{
  flex-grow: 1;
  padding: 1px;
  border: 5px solid #53ede6;
  border-radius: 10;
  border-width: 1;
  box-shadow: inset;
  height: 50px;
}
#servicequality {
  padding: 6px;
  margin-top: 2px;
  font-size: 16px;
  color: aqua;
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  align-items: center;
}
  .s2{
    width: 100%;
    position: relative;
    align-items: center;
    flex-grow: 1;
    padding: 1px;
    justify-content: center;
    margin: auto;
    border: 5px solid #53ede6;
    border-radius: 10;
    border-width: 1;
    box-shadow: inset;
  }
  .s3{
    width: 100%;    
    background-image: linear-gradient(to right, #280935,#820B73);
    background-color: transparent;
    position: relative;
    align-items: center;
    flex-grow: 1;
    padding: 1px;
    justify-content: center;
    margin: auto;
    border: 5px solid #53ede6;
    border-radius: 10;
    border-width: 1;
    box-shadow: inset;
  }
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(47, 106, 127);
    top: 0;
    bottom: 0;
    z-index: 1;
    mix-blend-mode: hard-light;
  }
body {
    max-inline-size: 88em;
    padding: var(--metric-box-spacing);
    margin: auto;
  }
  img {
    height: 100%;
    width: 100%;
      max-inline-size: 100%;
      block-size: auto;
      inline-size: 100%;
      top: 0;
      bottom: 0;
    }
  .homeContent {
    width: 100%;
    height: max-content;
    padding: 8rem 1.5rem 3rem;
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    color: var(--WhiteColor);
    z-index: 100;
  }
  .textDiv {
    padding: 2rem 0;
  }
  .smallText {
    font-size: 25px;
    padding-top: 5%;
    padding-left: 20px;
    padding-right: 30%;
    padding-bottom: 5%;
    color: #FFFFFF;
    background-color: rgba(23, 2, 82, 0.5);
    line-height: 1.5;
  }
  .homeTitle {
    position: relative;
    padding-top: 7%;
    padding-left: 20px;
    padding-bottom: 5%;
    font-size: 3.3rem;
    padding-right: 38%;
    color: #E7FFB4;
    line-gap-override: 1;
    background-color: rgba(23, 2, 82, 0.5);
    line-height: 1.1;
  }
  .Homecustombackground{
    background-color: rgba(255,255,255,0.5);
    background-image: url('../photos/Interfaceimage.jpg'); /* Replace with the path to your image */
    background-size: cover; /* Adjust to your needs */
    background-position: center; /* Adjust to your needs */
    /* Other background properties can be added here */
    height: 650px;
    display:flexbox;
    width: 100%;
    background-repeat: no-repeat;
    background-position:center;
    filter: brightness(1);
  }
  .Homd{
    background-color: rgba(255,255,255,0.5);
    background-image: url('../photos/Interfaceimage.jpg'); /* Replace with the path to your image */
    background-size: cover; /* Adjust to your needs */
    background-position: center; /* Adjust to your needs */
    /* Other background properties can be added here */
    height: 80px;
    display:flexbox;
    width: 100%;
    background-repeat: no-repeat;
    background-position:center;
    filter: brightness(1);
  }
  .He1{
    color: aliceblue;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
  }
  .Homecustombackground1{
    background-color: rgba(255,255,255,0.6);
    background-image: url('../photos/UserHomePage.jpg'); /* Replace with the path to your image */
    background-size: cover; /* Adjust to your needs */
    background-position: center; /* Adjust to your needs */
    /* Other background properties can be added here */
    height: 650px;
    display:flexbox;
    width: 100%;
    background-repeat: no-repeat;
    background-position:center;
    filter: brightness(1);
  }
  .Homecustombackground4{
    background-color: rgba(255,255,255,0.6);
    background-image: url('../photos/crypt.jpg'); /* Replace with the path to your image */
    background-size: cover; /* Adjust to your needs */
    background-position: center; /* Adjust to your needs */
    /* Other background properties can be added here */
    height: 650px;
    display:flexbox;
    width: 100%;
    background-repeat: no-repeat;
    background-position:center;
    filter: brightness(1);
  }
  .homeTitle1 {
    position: relative;
    padding-top: 15%;
    padding-left: 10%;
    padding-bottom: 20%;
    font-size: 350%;
    padding-right: 38%;
    line-height: 180%;
    color: #E7FFB4;
    line-gap-override: 1;
    background-color: rgba(33, 8, 102, 0.473);
    line-height: 1.1;
  }
  .homeTitle5 {
    position: relative;
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 20%;
    font-size: 3.5rem;
    padding-right: 38%;
    line-height: 1.8;
    color: #E7FFB4;
    line-gap-override: 1;
    background-color: rgba(33, 8, 102, 0.7);
    line-height: 1.1;
  }
  * {
    padding: 0;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    font-family: Hack, monospace;
  }
  
  div {
    color: #727272;
    text-align: center;
  }
  
  p {
    margin: 16px;
    font-size: 96px;
    color: #ccc;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 1s ease-in-out;
    position: relative;
  }
  p::before {
    content: attr(data-item);
    transition: all 1s ease-in-out;
    color: #8254ff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }
  p:hover::before {
    width: 100%;
  }
  
  nav {
    border-radius: 25px;
    border:5px solid rgb(98, 180, 95);
    background-image: linear-gradient(to right,#280935,#820B73 );
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
  }
  nav .menuItems {
    list-style: none;
    background-image: linear-gradient(to right,#280935,#820B73 );
    display: flex;
    text-align: center;
  }
  nav .menuItems li {
    margin-top: 0.5%;
    padding-left: 1%;
    text-align: center;
  }
  nav .menuItems li a {
    text-decoration: none;
    padding-bottom: 20%;
    padding-left: 20%;
    padding-right: 40%;
    color: #afb3b2;
    font-size: 120%;
    font-weight: 40%;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
  }
  nav .menuItems li a::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #8de7f3;
    box-shadow:5px solid #E7FFB4;
    text-shadow: 5px solid #E7FFB4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }
  nav .menuItems li a:hover::before {
    width: 100%;
    margin-left: 0.5;
    transition: all 0.5s ease-in-out;
    background-color: #240864;
    text-align: center;
    border: 2px solid #3fa799;
    border-radius: 10px;
  }