.b1{
    width: 100%;
    display: flexbox;
    align-items: center;
    margin-right: 50px;
    border: 5px solid #5bc1e9;
    border-radius: 50px;
    background-image: linear-gradient(to top, #257bad, #192C52);
}
.Header{
    color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    margin-top: 40px;
  }
  
  .SubHeader{
    color: lightgray;
    margin-bottom: 30px;
    text-align: center;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .d1{
    width: 500px;
    height: 600px;
    margin: 10px auto;
    padding: 70px;
    padding-top: 40px;
    background-image: radial-gradient(circle at center, #4761BF,#060D23);
    margin-bottom: 30px;
    border: 2px solid #35C0C9;
    border-radius: 50px;
}
.d2{
    width: 450px;
    height: 460px;
    margin: 10px auto;
    padding: 25px;
    padding-top: 40px;
    background-image: radial-gradient(circle at center, #4761BF,#060D23);
    margin-bottom: 30px;
    border: 2px solid #35C0C9;
    border-radius: 50px;
    display: flexbox;
}
.d3{
  width: 500px;
  height: 500px;
  margin: 10px auto;
  padding: 25px;
  padding-top: 40px;
  background-image: radial-gradient(circle at center, #4761BF,#060D23);
  margin-bottom: 30px;
  border: 2px solid #35C0C9;
  border-radius: 50px;
}
.d4{
  width: 500px;
  height: 600px;
  margin: 10px auto;
  padding: 50px;
  padding-top: 40px;
  background-image: radial-gradient(circle at center, #4761BF,#060D23);
  margin-bottom: 30px;
  border: 2px solid #35C0C9;
  border-radius: 50px;
}
.label{
    color: lightgray;
    background-color: transparent;
    padding: 5px;
  }
  .mai {
    margin-left: 50px;
    margin: 10px auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    background-attachment: fixed;
    background-color: transparent;
  }
  .checkmark {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #eee;
    border: 2px solid #777;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
}